<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAdapters.Properties.Settings.SI_2ConnectionString"
            connectionString="Data Source=sisad_mobile\instancia1;Initial Catalog=SI_2;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>